.page-all{
  margin:auto;
  width:900px;
  height: auto;
}
.m-title {
  font-family: "돋움";
  text-shadow: 4px 2px 2px paleturquoise;
  text-align: center;
  color: royalblue;
}
.m-team {
  text-align:right;
  font-size: 20px;
  color:steelblue;
}
.pull {
  text-align: center;
}
.btn {
  border-color: white;
  background: linear-gradient(-45deg, #33ccff 0%, royalblue 100%);
  color: white;
  border-radius: 6px;
  width: 150px;
  height: 50px;
  font-size:15px;
  margin-left: 13px;
}
.line{
  background-color: skyblue;
  height: 1px;
}
.content {
  text-align: left;
  width:auto;
  height:auto;
}
.sub_title {
  color:steelblue;
  text-shadow: 4px 2px 2px #d8ffcd
}
.write{
  font-family: "돋움";
  background-color: #e3f7fd;
  font-size: 19px;
}
.cc-all{
  font-family: "돋움";
  background-color: #e3f7fd;
  font-size: 19px;
}
.last_title {
  font-family: "돋움";
  font-size: 19px;
  color:steelblue;
  font-weight: bold;
}
.l_title {
  font-family: "돋움";
  font-size: 20px;
  font-weight: bold;
  color:steelblue;
}
.f_table {
  border-collapse:collapse;
  border: 1px solid #ccc;
  line-height:1.5;
  text-align: left;
  margin: 20px 10px;
}
.f_table thead th {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: steelblue;
}
.f_table tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #ececec;
}
.f_table td {
  width: 800px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
